h1 {
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-weight: 800;
}

p {
  margin: auto;
  font-size: 28px;
  font-weight: 495;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.answer {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  margin: auto;
}

.questions {
  font-size: 32px;
  font-weight: 800;
  font-family: Inter;
  color: black;
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}

.q{
  font-size: 32px;
  font-weight: 800;
  font-family: Inter;
}

.title{
  font-weight: 700;
}