body{
    background: #F4ECE1;
    margin: 0;
    padding: 0;
}

.page-content {
    margin-left: 30px; /* 50px space between the div and the left edge */
    padding: 10px;
}

h1{
    margin-left: 40px;
}


.user-order-history {
    background: #F4ECE1;
    width: 100%;
}

.user-order-history div {
    margin-left: 30px; /* 50px space between the div and the left edge */
    padding: 10px;
}

/* You can add additional styles as needed for labels and input fields */
.user-order-history label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-order-history header {

    position: absolute;
    width: 987px;
    height: 57px;
    left: calc(50% - 987px / 2 - 179px);
    top: calc(50% - 57px / 2 - 106.5px);

    background: rgba(0, 0, 0, 0.2);


    /* Delivery image */

    position: absolute;
    width: 50px;
    height: 31.07px;
    left: 13px;
    top: 12px;

    background: url(image);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    /* Pick-up Address */

    position: absolute;
    width: 220px;
    height: 33px;
    left: 78px;
    top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #000000;


    /* Drop-off Address */

    position: absolute;
    width: 220px;
    height: 33px;
    left: 298px;
    top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #000000;


    /* Date */

    position: absolute;
    width: 165px;
    height: 33px;
    left: 518px;
    top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #000000;


    /* Delivery # */

    position: absolute;
    width: 152px;
    height: 33px;
    left: 683px;
    top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


    /* Status */

    position: absolute;
    width: 152px;
    height: 33px;
    left: 835px;
    top: 11px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

.user-order-history .divider {

    position: absolute;
    width: 987px;
    height: 0px;
    left: 83px;
    top: 376px;

    border: 1px solid #000000;
    transform: rotate(-0.12deg);

}

.user-order-history button {
    background: #F65900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 4px;
}

.user-order-history button:hover {
    background: #F69C00; /* Change color on hover */
}