/* .contact {
  position: relative;
  text-align: center;
  font-size: 30px;
}

.form {
  display: inline-block;
  position: relative;
  margin-right: 100%;
  margin-left: 36%;
}

.form .text {
  margin-top: 5%;
  right: 36%;
}

.form .input{
    right: 27%;
    padding-left: 27%;
    padding-right:14%;
} */

h2 {
  font-size: 50px;
  text-align: center;
}

input {
  display: block;
  text-align: center;
  padding-left: 109px;
  padding-right: 108px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

textarea{
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

form{
  text-align: center;
}

button{
  padding-left: 109px;
  padding-right: 108px;
  font-size: large;
}


